@use '../../helpers/index' as *;

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-orange);
  color: var(--color-light);
  padding-block: var(--header-block-padding);
  padding-inline: 0;
  gap: var(--header-block-gap);

  &__logo {
    height: #{rem(44)};
    width: auto;
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--space-10);
  }

  &__logo .logo {
    display: block;
    width: auto;
    height: 100%;
    align-self: center;
    vertical-align: middle;
  }

  &__tagline {
    font-family: var(--font-family-accent);
    font-size: var(--font-size-body);
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
  }

  &__address,
  &__phones,
  &__icon-social {
    display: none;
  }

  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include tablet-above {
    &__address,
    &__phones {
      display: block;
    }

    &__phones {
      display: flex;
      flex-direction: row;
      gap: var(--space-14);

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__icon-social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: fluid(30, 20);
    }

    .burger {
      display: none;
    }
  }

  &__social {
    width: var(--icon-size-lg);
    height: auto;
    display: flex;
    align-items: center;
    transform-origin: center;
  }

  &__icon-social > a {
    display: inline-flex;
    border-radius: 50%;
    line-height: 0;

    @include hover(false) {
      .header-top__social {
        animation: btn-bg-soft var(--anim-bounce-duration) ease-out both;
      }
    }

    &:focus-visible .header-top__social {
      animation: btn-bg-soft var(--anim-bounce-duration) ease-out both;
    }
  }
}

@include mobile {
  .header-top {
    padding-left: #{rem(16)};
  }
}




