@use '../../helpers/index' as *;

.header-nav {
  display: none;

  @include tablet-above {
    display: flex;
    align-items: center;
    min-height: var(--header-row-min-height);
    padding: var(--header-block-padding);
    background-color: var(--color-light);
  }
}

.nav-links {
  --nav-link-color: var(--color-dark);
  --nav-link-gap: #{rem(20)};

  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--nav-link-gap);
  font-family: var(--font-family-accent);
  font-weight: 400;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    color: var(--nav-link-color);
    text-decoration: none;
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--color-orange);
    }
  }

  &--mobile {
    flex-direction: column;
    align-items: flex-start;

    .nav-links__link--active {
      font-weight: 600;
    }
  }

  &--desktop {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}



